#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-wrap: 20px;
    min-height: 100vh;
    margin: 0;
}

h3{
    margin: 10px 0;
}

h6{
    margin: 5px 0;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.card-container{
    background-color: #353b29;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: wheat;
    padding-top: 30px;
    width: 350px;
    max-width: 100%;
    text-align: center;
    position: relative;
}

.pro{
    color:#353b29 ;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 20px;
}

.online {
    background-color: rgb(25, 220, 158);
}

.offline {
    background-color: rgb(61, 155, 126);
    color: aliceblue;
}

.img{
    border: 3px solid white;
    border-radius: 50%;
    padding: 7px;
}

.button{
    display: flex;
    justify-content: center;
    gap: 10px;
}

button.primary{
    border-radius: 5px;
    background-color: rgb(71, 191, 153);
    border: 2px solid rgb(41, 97, 79);;
    color: rgb(238, 233, 233);
    font-family: "Inter",sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}

button.primary.outline{
    background-color: transparent;
}

.skill{
    background-color: #2c3122;
    margin-top: 15px;
    text-align: left;
    padding: 15px;
}

.skill ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skill ul li{
    border: 1px solid #787676;
    display: inline-block;
    border-radius: 2px;
    padding: 7px;
    margin: 0 7px 7px 0;

}
